<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Message from, <%= @name %></h1>
    <p>
      Their email is: <%= @email %>.<br/>
    </p>
    <p>
      Message is: <%= @message %>.<br/>
    </p>
  </body>
</html>