<div class="cell width-12 first">	
	<hgroup>
		<h1>Property Tax Analyzer</h1>
	</hgroup>
</div>

<div class="cell width-6 first">	
	<div class="rich-content">
		<h4>Fairtaxes - Property Tax Analyzer</h4><br>
		<p>Automates the process of Property Tax Appeals.  Quickly determines if a property is assessed fairly and if not builds a set of information that supports an appeal.
		<ul>
			<li>Supports both simple and expert user modes to get quick answers or drill in for more info</li>
			<li>Self registration with validation and security</li>
			<li>The data management sub-system efficiently collects and consolidates public records from multiple government agencies and private companies.  This sub-system makes extensive use of smart crawlers and parsers.</li>
			<li>The system renders reports in tabular, graphical and geographical map formats.</li>
		</ul>
		<p><b>Technologies: </b>Ruby, Rails, Google Maps, Ajax, JSON, Mechanize, Nokogiri, Devise, Jquery-UI, Devise, Sendgrid, PostgreSQL, Git</p>
		
		<blockquote>
			<p>“The Fairtaxes app allows us to quickly determine which properties have a high probability of a significant tax reduction”</p>
			<footer>Mitch Field, Property Tax Attorney</footer>
		</blockquote>
	</div>
</div>
				
<div class="cell width-5 text-right include-gap">
      <a href="http://ftv3.heroku.com"  target="_blank" >
        <img src="/assets/bvr_graph_30.png" alt="">
      </a><br><br>
</div>

<div class="cell width-6 text-right include-gap">
      <a href="http://ftv3.heroku.com"  target="_blank" >
        <img src="/assets/FT_map.png" alt="">
      </a><br><br>
</div>
