
<div class="cell width-12 first">	
	<hgroup>
		<h1>Philanthropy Organizer</h1>
	</hgroup>
</div>

<div class="cell width-6 first">	
	<div class="rich-content">
		<h4>Supporting those in Need</h4>
		<p>Application for tracking donations and work to support select charities</p>
		<ul>
			<li>Automates reporting of annual gift giving</li>
			<li>Consolidates and reports by organizations, users, activities, gifts, etc</li>
			<li>Uploads pictures of furniture, clothing, autos that are donated</li>
			<li>Promotes team efforts to support specific charities</li>
		</ul>
		  <p><b>Technologies: </b>Utilizing Amazon S3, JQuery, Paperclip, Twitter Bootstrap, SQLite3, Heroku</p>		
		
		<blockquote>
			<p>“Talon is very powerful tool that gives us great insights into the performance of our network.”</p>
			<footer>John Berman, SSA - Vice President of Engineering</footer>
		</blockquote>
	</div>
</div>
				
<div class="cell width-5 text-right include-gap">
      <a href="http://stin-v3.heroku.com/d/users/sign_in"  target="_blank" >
        <img src="/assets/stin_screen_30.png" alt="">
      </a><br><br>
</div>

