<div class="cell width-12 first">	
	<hgroup>
		<h1>Critical Data Monitor</h1>
	</hgroup>
</div>

<div class="cell width-6 first">	
	<div class="rich-content">
		<h4>Talon - Network Monitor</h4><br>
		<p>System checks speed and verifies the validity of downloaded content from selected host devices</p>
		<ul>
			<li>Distributed architecture designed to scale up based on utilization.</li>
			<li>Monitors watch each other and check into repositories to save results and for their queue of instructions.</li> 
			<li>Alarms are immediately dispatched and historical trends of response times are presented in graphical form.</li>
		</ul>  
	      <p><b>Technologies: </b>Perl, Ruby, Rails, Git, JSON, Mechanize, JQuery, Twitter Bootstrap, SQLite3, Heroku</p>
		  <p>Github Repo:
			<pre>github.com/andydenenberg/talon_v2</pre>
		  </p>
		
		<blockquote>
			<p>“Talon is very powerful tool that gives us great insights into the performance of our network.”</p>
			<footer>John Berman, SSA - Vice President of Engineering</footer>
		</blockquote>
	</div>
</div>
				
<div class="cell width-5 text-right include-gap">
      <a href="http://talonv3.heroku.com/"  target="_blank" >
        <img src="/assets/home_screen_30.png" alt="">
      </a><br><br>
</div>

