
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
}
p,
dl,
ol,
ul {
  line-height: 1.5;
}
strong {
  font-weight: bold;
}
strong > * {
  font-weight: bold;
}
em {
  font-style: italic;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
.clear {
  clear: both;
}
hr {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html {
  background: #ececec;
  background: url(../images/noise-bg.png), #ececec;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: normal;
  margin: 0;
  padding: 0;
}
#top-container {
  background: #4f79a4;
  background: url(../images/noise-bg.png), -webkit-radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4)), -webkit-linear-gradient(top, #5885b3 50%, #3a5b7e);
  background: url(../images/noise-bg.png), -moz-radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4)), -moz-linear-gradient(top, #5885b3 50%, #3a5b7e);
  background: url(../images/noise-bg.png), radial-gradient(center center, cover circle, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.4)), linear-gradient(top, #5885b3 50%, #3a5b7e);
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#top-container #global-header {
  z-index: 50;
  position: relative;
}
#top-container #global-header .global-bar {
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(rgba(91, 91, 91, 0.65), rgba(45, 45, 45, 0.75));
  background: -moz-linear-gradient(rgba(91, 91, 91, 0.65), rgba(45, 45, 45, 0.75));
  background: -ms-linear-gradient(rgba(91, 91, 91, 0.65), rgba(45, 45, 45, 0.75));
  background: linear-gradient(rgba(91, 91, 91, 0.65), rgba(45, 45, 45, 0.75));
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
}
#top-container #global-header .local-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  box-shadow: none;
  margin-top: 0;
}
#top-container #global-header .transparent-bar {
  margin-bottom: -35px;
}
#top-container #global-header .global-bar:after,
#top-container #global-header .local-bar:after,
#top-container #global-header .transparent-bar:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#top-container #global-header .global-bar nav,
#top-container #global-header .local-bar nav,
#top-container #global-header .transparent-bar nav {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#top-container #global-header h1.logo {
  float: left;
  margin-left: -8px;
}
#top-container #global-header h1.logo a {
  display: table-cell;
}
#top-container #global-header h1.logo a img {
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 0;
}
#top-container #global-header h1.logo a img[height="30"] {
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}
#top-container #global-header h1.logo a:hover {
  background: rgba(255, 255, 255, 0.1);
}
#top-container #global-header ul#global-navigation {
  display: block;
  float: right;
}
#top-container #global-header ul#global-navigation li {
  display: table-cell;
  white-space: nowrap;
  vertical-align: top;
}
#top-container #global-header ul#global-navigation li a {
  display: inline-block;
  padding: 20px 18px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 0 rgba(255, 255, 255, 0.15);
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  line-height: 18px;
}
#top-container #global-header ul#global-navigation li a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#top-container #global-header ul#global-navigation li a:hover,
#top-container #global-header ul#global-navigation li a:active,
#top-container #global-header ul#global-navigation li a.active {
  padding-right: 19px;
  margin-right: -1px;
}
#top-container #global-header ul#global-navigation li a:hover {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  background: -ms-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.02));
}
#top-container #global-header ul#global-navigation li a:active,
#top-container #global-header ul#global-navigation li a.active {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.4);
  padding-top: 21px;
  padding-bottom: 19px;
}
#top-container #global-header ul#global-navigation li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 rgba(255, 255, 255, 0.15);
}
#top-container #global-header ul#global-navigation li:last-child:hover,
#top-container #global-header ul#global-navigation li:last-child:active,
#top-container #global-header ul#global-navigation li:last-child.active {
  border-right-color: transparent;
}
#top-container #global-header ul#global-navigation li:hover + li a,
#top-container #global-header ul#global-navigation li:active + li a,
#top-container #global-header ul#global-navigation li.active + li a {
  border-color: transparent;
}
#top-container #global-header ul#global-navigation:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
#top-container ul.local-navigation > li {
  display: block;
  float: left;
  padding: 0 20px;
  position: relative;
  line-height: 23px;
}
#top-container ul.local-navigation > li:first-child {
  margin-left: -20px;
}
#top-container ul.local-navigation > li:last-child {
  margin-right: -20px;
}
#top-container ul.local-navigation > li:after {
  content: "";
  position: absolute;
  height: 25px;
  width: 1px;
  background: rgba(255, 255, 255, 0.3);
  top: 17px;
  right: 0;
}
#top-container ul.local-navigation > li:last-child:after {
  background: transparent;
}
#top-container ul.local-navigation > li a {
  display: block;
  padding: 17px 0;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-weight: bold;
  opacity: 0.7;
  position: relative;
}
#top-container ul.local-navigation > li a:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#top-container ul.local-navigation > li a.active {
  opacity: 0.99;
  padding-bottom: 17px;
}
#top-container ul.local-navigation > li a:hover {
  opacity: 0.99;
}
#top-container ul.local-navigation > li ul {
  display: none;
}
#top-container ul.local-navigation > li.dropdown:hover ul {
  display: block;
  z-index: 151;
}
#top-container ul.local-navigation > li.dropdown:hover > a {
  opacity: 1;
}
#top-container ul.local-navigation > li.dropdown > a {
  padding-right: 18px;
}
#top-container ul.local-navigation > li.dropdown > a:active {
  top: 0 !important;
}
#top-container ul.local-navigation > li.dropdown > a:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  right: 0;
  top: 50%;
  margin-top: -2px;
}
#top-container ul.local-navigation > li.dropdown ul {
  display: none;
  position: absolute;
  margin-top: -10px;
  width: 100%;
  margin-left: -20px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#top-container ul.local-navigation > li.dropdown ul:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  right: 20px;
  top: -5px;
}
#top-container ul.local-navigation > li.dropdown ul li {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
#top-container ul.local-navigation > li.dropdown ul li:first-child,
#top-container ul.local-navigation > li.dropdown ul li:first-child a {
  border-radius: 3px 3px 0 0;
}
#top-container ul.local-navigation > li.dropdown ul li:last-child,
#top-container ul.local-navigation > li.dropdown ul li:last-child a {
  border-radius: 0 0 3px 3px;
}
#top-container ul.local-navigation > li.dropdown ul li:last-child a {
  border-bottom: 0;
}
#top-container ul.local-navigation > li.dropdown ul a {
  color: #000;
  padding: 8px 10px;
  text-shadow: none;
  border-bottom: 1px solid #ccc;
}
#top-container ul.local-navigation > li.dropdown ul a:hover {
  background: #ececec;
}
#top-container ul.local-navigation.main {
  float: right;
  width: auto;
  margin: 0;
}
#top-container ul.local-navigation.main > li > a.active {
  opacity: 0.99;
  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 14px;
}
#top-container ul.local-navigation.main > li > a:active {
  position: relative;
  top: 1px;
}
#top-container ul.local-navigation.main > li > a:active.active {
  padding-bottom: 13px;
}
#top-container ul.local-navigation.main > li.icon {
  padding-top: 14px;
  padding-bottom: 7px;
}
#top-container ul.local-navigation.main > li.icon a {
  padding: 0;
  opacity: 1;
  display: inline-block;
  margin-right: 6px;
}
#top-container ul.local-navigation.main > li.icon a:last-child {
  margin-right: 0;
}
#top-container ul.local-navigation.main > li.icon img {
  display: block;
  width: 30px;
  height: 30px;
}
#top-container #feature-area {
  z-index: 20;
  position: relative;
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-top: 35px;
  color: #fff;
}
#top-container #feature-area h1 {
  font-size: 36px;
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
#top-container #feature-area h1 a {
  text-decoration: none;
  color: inherit;
}
#top-container #feature-area .feature {
  color: #fff;
  font-size: 20px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
#top-container #feature-area .feature a {
  color: inherit;
}
#container {
  background: #ececec;
  background: url(../images/noise-bg.png), -webkit-linear-gradient(top, #d7d7d7, #ececec 200px);
  background: url(../images/noise-bg.png), -moz-linear-gradient(top, #d7d7d7, #ececec 200px);
  background: url(../images/noise-bg.png), linear-gradient(top, #d7d7d7, #ececec 200px);
  z-index: 2;
  position: relative;
  padding: 0 0 105px;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
}
#container .main-page {
  width: 1030px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
}
#container .main-page:first-of-type,
#container .main-page.squared-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#container .main-page.squared-bottom {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#container .main-page.alternate-bg {
  background: #f4f4f4;
}
#container .main-page > hr {
  background: #ccc;
  border: 0;
  height: 1px;
  margin: 0;
  padding: 0;
}
#container .content {
  padding: 35px;
}
#container .content.flush-padding {
  padding: 0;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
#container .content.include-shadow {
  background: -webkit-linear-gradient(top, #f1f1f1, rgba(255, 255, 255, 0) 50px);
  padding-top: 49px;
}
#container .content.alternate-bg {
  background: #f4f4f4;
}
#container .content:first-child {
  border-radius: 5px 5px 0 0;
}
#container .content:last-child {
  border-radius: 0 0 5px 5px;
}
#top-container.covering-main-page {
  padding-bottom: 105px;
}
#top-container.covering-main-page.flush-bottom-padding {
  padding-bottom: 70px;
}
#top-container.covering-main-page + #container {
  padding-top: 35px;
}
#top-container.covering-main-page + #container .main-page:first-of-type {
  margin-top: -105px;
  border-radius: 5px;
}
#top-container.covering-main-page + #container .main-page:first-of-type.squared-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#top-container.covering-main-page:after {
  content: "";
  position: absolute;
  width: 1030px;
  height: 70px;
  left: 50%;
  bottom: -5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-left: -515px;
  border-radius: 5px;
}
#top-container.empty-featured-area {
  padding-bottom: 105px;
  background: #ececec;
  background: url(../images/noise-bg.png), -webkit-linear-gradient(top, #d7d7d7, #ececec);
  background: url(../images/noise-bg.png), -moz-linear-gradient(top, #d7d7d7, #ececec);
  background: url(../images/noise-bg.png), linear-gradient(top, #d7d7d7, #ececec);
}
#top-container.empty-featured-area + #container {
  background: transparent;
  box-shadow: none;
}
#top-container.empty-featured-area:after {
  display: none;
}
h1 {
  font-family: "myriad-pro", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 40px;
}
h2 {
  font-family: "myriad-pro", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}
a {
  color: #186ac1;
}
a:hover {
  color: #3697ff;
}
a.more {
  position: relative;
  padding-right: 14px;
}
a.more:after {
  content: "▶";
  position: absolute;
  right: 0;
  font-size: 9px;
  margin-top: 5px;
}
hr {
  margin: 35px 0;
  border: 0;
  height: 1px;
  background: #ccc;
}
.featured-title {
  text-align: center;
}
.featured-title h1 {
  font-size: 40px;
  font-family: "myriad-pro", "Myriad Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
}
.featured-title h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #888;
  margin-top: 0.3em;
  line-height: 1.6;
}
.include-gap,
.top-gap {
  margin-top: 35px;
}
.bottom-gap {
  margin-bottom: 35px;
}
.vertical-gap {
  margin-top: 35px;
  margin-bottom: 35px;
}
hr.gap {
  height: 35px !important;
  border: 0;
  clear: both;
  margin: 0;
  padding: 0;
  background: transparent;
}
.vertical-padding {
  padding-top: 35px;
  padding-bottom: 35px;
}
.flush-top-margin {
  margin-top: 0 !important;
}
.flush-bottom-margin {
  margin-bottom: 0 !important;
}
.centered,
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.nowrap {
  white-space: nowrap;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
p.feature {
  font-size: 20px;
  color: #888a85;
}
.rich-content {
  font-size: 14px;
}
.rich-content h1,
.rich-content h2,
.rich-content h3 {
  margin: 0.3em 0 0.6em 0;
}
.rich-content h2 {
  margin: 0.3em 0 0.6em 0;
}
.rich-content h3 {
  color: #888a85;
}
.rich-content p,
.rich-content ol,
.rich-content ul,
.rich-content dl,
.rich-content pre,
.rich-content table {
  margin: 0 0 1.3em;
  color: #555753;
  line-height: 1.8;
}
.rich-content p.feature {
  font-size: 1.4em;
  color: #888a85;
  line-height: 1.5;
}
.rich-content .footnote {
  font-size: 13px;
  color: #888a85;
}
.rich-content ol,
.rich-content ul,
.rich-content dl {
  margin-left: 2em;
}
.rich-content ol {
  list-style: decimal;
}
.rich-content ul {
  list-style: disc;
}
.rich-content li,
.rich-content dd {
  margin-bottom: 0.8em;
}
.rich-content dl dt {
  font-weight: bold;
}
.rich-content dl dd {
  margin-bottom: 1.3em;
}
.rich-content blockquote {
  margin-left: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
.rich-content blockquote > * {
  font-style: italic;
}
.rich-content blockquote > footer {
  font-size: 13px;
  color: #888a85;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.rich-content blockquote > footer:before {
  content: "— ";
}
.rich-content pre {
  background: #ececec;
  padding: 1em;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  font-size: 0.9em;
  line-height: 1.4;
  overflow: auto;
}
.rich-content pre code {
  box-shadow: none;
  background: transparent;
  font-size: inherit;
}
.rich-content code {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
  background: #ececec;
  padding: 3px;
  font-size: 0.9em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.rich-content table {
  background: #fff;
  border: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  border-radius: 4px;
  border-collapse: separate;
  max-width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rich-content table thead {
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.rich-content table td,
.rich-content table th {
  padding: 5px 12px;
  text-align: left;
  margin: 0;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.rich-content table th {
  font-weight: bold;
}
.action-button {
  display: inline-block;
  background: #c5c5c5;
  background: -webkit-linear-gradient(#ededed, #c5c5c5);
  background: -moz-linear-gradient(#ededed, #c5c5c5);
  background: -ms-linear-gradient(#ededed, #c5c5c5);
  background: linear-gradient(#ededed, #c5c5c5);
  padding: 10px 20px;
  position: relative;
  border: 1px solid #999;
  border-radius: 6px;
  color: inherit;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  color: #2e3437;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  line-height: normal;
  cursor: pointer;
}
.action-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.action-button.more {
  padding-right: 38px;
}
.action-button.more:after {
  content: "▶";
  position: absolute;
  right: 16px;
  font-size: 12px;
  margin-top: 3px;
}
.action-button.featured {
  border-color: #5b7d3c;
  background: #a1d986;
  background: -webkit-linear-gradient(#a1d986, #6e9848);
  background: -moz-linear-gradient(#a1d986, #6e9848);
  background: -ms-linear-gradient(#a1d986, #6e9848);
  background: linear-gradient(#a1d986, #6e9848);
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.action-button.featured:hover {
  background: #bde49b;
  background: -webkit-linear-gradient(#bde49b, #78a64f);
  background: -moz-linear-gradient(#bde49b, #78a64f);
  background: -ms-linear-gradient(#bde49b, #78a64f);
  background: linear-gradient(#bde49b, #78a64f);
  color: #fff;
}
.action-button.featured:active {
  background: #719b4b;
  background: -webkit-linear-gradient(#6a9146, #719b4b);
  background: -moz-linear-gradient(#6a9146, #719b4b);
  background: -ms-linear-gradient(#6a9146, #719b4b);
  background: linear-gradient(#6a9146, #719b4b);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.action-button:hover {
  background: #ededed;
  background: -webkit-linear-gradient(#f4f4f4, #dbdbdb);
  background: -moz-linear-gradient(#f4f4f4, #dbdbdb);
  background: -ms-linear-gradient(#f4f4f4, #dbdbdb);
  background: linear-gradient(#f4f4f4, #dbdbdb);
  color: #2e3437;
}
.action-button:active {
  background: #c5c5c5;
  background: -webkit-linear-gradient(#b5b5b5, #c5c5c5);
  background: -moz-linear-gradient(#b5b5b5, #c5c5c5);
  background: -ms-linear-gradient(#b5b5b5, #c5c5c5);
  background: linear-gradient(#b5b5b5, #c5c5c5);
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.4), 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 0 1px rgba(255, 255, 255, 0.2);
  position: relative;
  top: 1px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 13px;
  opacity: 0;
  text-shadow: 0 1px 0 #000;
}
.tooltip.in {
  opacity: 0.8;
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 6px 10px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: rgba(0, 0, 0, 0.8);
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
#global-footer {
  margin-top: 35px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  font-size: 14px;
}
#global-footer > aside {
  width: 220px;
  float: left;
  line-height: 1.5;
  font-size: 12px;
}
#global-footer > aside .copyright {
  color: #666;
  margin-top: 0.4em;
}
#global-footer > aside .copyright a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #999;
}
#global-footer > aside .contact {
  margin-top: 15px;
  color: #444;
}
#global-footer > aside .contact .hidden {
  display: none;
}
#global-footer > aside .contact .tel,
#global-footer > aside .contact .email {
  background: url(../images/footer-contact-icons.png) no-repeat;
  padding-left: 20px;
  height: 16px;
  line-height: 16px;
  display: inline-block;
  margin-bottom: 4px;
}
#global-footer > aside .contact .tel {
  background-position: top left;
}
#global-footer > aside .contact .email {
  background-position: bottom left;
}
#global-footer > aside .contact a {
  color: inherit;
  text-decoration: none;
}
#global-footer > aside .contact a:hover {
  text-decoration: underline;
}
#global-footer > nav {
  width: 740px;
  float: left;
  display: block;
}
#global-footer > nav > ul > li {
  display: block;
  float: left;
  width: 170px;
}
#global-footer > nav > ul > li h3 {
  font-weight: bold;
  font-size: 15px;
  color: #444;
  margin-bottom: 0.4em;
}
#global-footer > nav > ul > li li {
  margin-bottom: 0.1em;
}
#global-footer > nav > ul > li li a {
  text-decoration: none;
  color: #666;
}
#global-footer > nav > ul > li li a:hover {
  text-decoration: underline;
}
#global-footer > nav > ul > li.social-networks {
  float: right;
  width: 141px;
  margin-right: -15px;
}
#global-footer > nav > ul > li.social-networks ul {
  margin-top: 0.6em;
}
#global-footer > nav > ul > li.social-networks li {
  width: 32px;
  height: 32px;
  font-size: 0;
  color: transparent;
  float: left;
  margin-right: 15px;
  margin-bottom: 13px;
}
#global-footer > nav > ul > li.social-networks li:hover {
  border: 3px solid #fff;
  border-radius: 100%;
  margin: -3px 12px 10px -3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
#global-footer > nav > ul > li.social-networks li:active {
  position: relative;
  top: 1px;
}
#global-footer > nav > ul > li.social-networks li a {
  width: 32px;
  height: 32px;
  display: block;
  background: url(/assets/social-network-icons.png) no-repeat;
  overflow: hidden;
  text-indent: 100px;
}
#global-footer > nav > ul > li.social-networks li a.facebook {
  background-position: 0 0;
}
#global-footer > nav > ul > li.social-networks li a.twitter {
  background-position: -47px 0;
}
#global-footer > nav > ul > li.social-networks li a.google-plus {
  background-position: -94px 0;
}
#global-footer > nav > ul > li.social-networks li a.github {
  background-position: 0 -44px;
}
#global-footer > nav > ul > li.social-networks li a.youtube {
  background-position: -47px -44px;
}
#global-footer > nav > ul > li.social-networks li a.uservoice {
  background-position: -94px -44px;
}
#global-footer:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

// Grid Template

.columns {
  width: 961px;
}
.columns .cell {
  float: left;
  margin-left: 35px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.columns .cell img,
.columns .cell video,
.columns .cell object,
.columns .cell embed {
  max-width: 100%;
}
.columns .cell img {
  height: auto;
}
.columns .cell.first {
  clear: left;
  margin-left: 0 !important;
}
.columns .cell:last-of-type {
  margin-left: 34px;
}
.columns .cell.width-1 {
  width: 48px;
}
.columns .cell.width-2 {
  width: 131px;
}
.columns .cell.width-3 {
  width: 214px;
}
.columns .cell.width-4 {
  width: 297px;
}
.columns .cell.width-5 {
  width: 380px;
}
.columns .cell.width-6 {
  width: 463px;
}
.columns .cell.width-7 {
  width: 546px;
}
.columns .cell.width-8 {
  width: 629px;
}
.columns .cell.width-9 {
  width: 712px;
}
.columns .cell.width-10 {
  width: 795px;
}
.columns .cell.width-11 {
  width: 878px;
}
.columns .cell.width-12 {
  width: 961px;
}
.columns .cell.prepend-1 {
  margin-left: 118px !important;
}
.columns .cell.prepend-1.first {
  margin-left: 83px !important;
}
.columns .cell.prepend-2 {
  margin-left: 201px !important;
}
.columns .cell.prepend-2.first {
  margin-left: 166px !important;
}
.columns .cell.prepend-3 {
  margin-left: 284px !important;
}
.columns .cell.prepend-3.first {
  margin-left: 249px !important;
}
.columns .cell.prepend-4 {
  margin-left: 367px !important;
}
.columns .cell.prepend-4.first {
  margin-left: 332px !important;
}
.columns .cell.prepend-5 {
  margin-left: 450px !important;
}
.columns .cell.prepend-5.first {
  margin-left: 415px !important;
}
.columns .cell.prepend-6 {
  margin-left: 533px !important;
}
.columns .cell.prepend-6.first {
  margin-left: 498px !important;
}
.columns .cell.prepend-7 {
  margin-left: 616px !important;
}
.columns .cell.prepend-7.first {
  margin-left: 581px !important;
}
.columns .cell.prepend-8 {
  margin-left: 699px !important;
}
.columns .cell.prepend-8.first {
  margin-left: 664px !important;
}
.columns .cell.prepend-9 {
  margin-left: 782px !important;
}
.columns .cell.prepend-9.first {
  margin-left: 747px !important;
}
.columns .cell.prepend-10 {
  margin-left: 865px !important;
}
.columns .cell.prepend-10.first {
  margin-left: 830px !important;
}
.columns .cell.prepend-11 {
  margin-left: 948px !important;
}
.columns .cell.prepend-11.first {
  margin-left: 913px !important;
}
.columns .cell.prepend-11 {
  margin-left: 1031px !important;
}
.columns .cell.prepend-11.first {
  margin-left: 996px !important;
}
.columns .cell.append-1 {
  margin-right: 83px;
}
.columns .cell.append-2 {
  margin-right: 166px;
}
.columns .cell.append-3 {
  margin-right: 249px;
}
.columns .cell.append-4 {
  margin-right: 332px;
}
.columns .cell.append-5 {
  margin-right: 415px;
}
.columns .cell.append-6 {
  margin-right: 498px;
}
.columns .cell.append-7 {
  margin-right: 581px;
}
.columns .cell.append-8 {
  margin-right: 664px;
}
.columns .cell.append-9 {
  margin-right: 747px;
}
.columns .cell.append-10 {
  margin-right: 830px;
}
.columns .cell.append-11 {
  margin-right: 913px;
}
.columns .cell.append-11 {
  margin-right: 996px;
}
.columns .cell.fill-left {
  padding-left: 35px;
}
.columns .cell.fill-right {
  padding-right: 35px;
}
.columns .cell.flush-left {
  padding-left: 0 !important;
}
.columns .cell.flush-right {
  padding-right: 0 !important;
}
.columns .cell.prepend-gutter {
  padding-left: 35px;
  margin-left: 0;
}
.columns .cell.prepend-gutter.first {
  margin-left: -35px !important;
}
.columns .cell.prepend-gutter.width-1 {
  width: 83px;
}
.columns .cell.prepend-gutter.width-2 {
  width: 166px;
}
.columns .cell.prepend-gutter.width-3 {
  width: 249px;
}
.columns .cell.prepend-gutter.width-4 {
  width: 332px;
}
.columns .cell.prepend-gutter.width-5 {
  width: 415px;
}
.columns .cell.prepend-gutter.width-6 {
  width: 498px;
}
.columns .cell.prepend-gutter.width-7 {
  width: 581px;
}
.columns .cell.prepend-gutter.width-8 {
  width: 664px;
}
.columns .cell.prepend-gutter.width-9 {
  width: 747px;
}
.columns .cell.prepend-gutter.width-10 {
  width: 830px;
}
.columns .cell.prepend-gutter.width-11 {
  width: 913px;
}
.columns .cell.prepend-gutter.width-12 {
  width: 996px;
}
.columns .cell.append-gutter {
  padding-right: 35px;
  margin-right: -35px !important;
}
.columns .cell.append-gutter.width-1 {
  width: 83px;
}
.columns .cell.append-gutter.width-2 {
  width: 166px;
}
.columns .cell.append-gutter.width-3 {
  width: 249px;
}
.columns .cell.append-gutter.width-4 {
  width: 332px;
}
.columns .cell.append-gutter.width-5 {
  width: 415px;
}
.columns .cell.append-gutter.width-6 {
  width: 498px;
}
.columns .cell.append-gutter.width-7 {
  width: 581px;
}
.columns .cell.append-gutter.width-8 {
  width: 664px;
}
.columns .cell.append-gutter.width-9 {
  width: 747px;
}
.columns .cell.append-gutter.width-10 {
  width: 830px;
}
.columns .cell.append-gutter.width-11 {
  width: 913px;
}
.columns .cell.append-gutter.width-12 {
  width: 996px;
}
.columns:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#showcase-browser {
  background: #ececec;
  background: -webkit-linear-gradient(#f8f8f8 50%, #dedede);
  background: -moz-linear-gradient(#f8f8f8 50%, #dedede);
  background: -ms-linear-gradient(#f8f8f8 50%, #dedede);
  background: linear-gradient(#f8f8f8 50%, #dedede);
  border-radius: 5px 5px 0 0;
}
#showcase-browser > .more {
  display: none;
  float: right;
  margin: 46px 35px 0;
}
#showcase-browser nav {
  display: table;
  margin: 0 35px;
}
#showcase-browser nav ul {
  display: table-row;
}
#showcase-browser nav ul li {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
#showcase-browser nav ul li:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
#showcase-browser nav ul li:first-child a {
  border-radius: 5px 0 0 0;
}
#showcase-browser nav ul li a {
  display: table-cell;
  width: 120px;
  height: 110px;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  line-height: normal;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 18px 15px 12px;
  color: inherit;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#showcase-browser nav ul li a img {
  display: block;
  width: 42px;
  height: 42px;
  margin: 0 auto 8px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
#showcase-browser nav ul li a:hover {
  background: #fff;
  background: -webkit-linear-gradient(#ffffff 80%, #ececec);
  background: -moz-linear-gradient(#ffffff 80%, #ececec);
  background: -ms-linear-gradient(#ffffff 80%, #ececec);
  background: linear-gradient(#ffffff 80%, #ececec);
}
#showcase-browser nav ul li a.active,
#showcase-browser nav ul li a:active {
  background: #cccccc url(/assets/browser-active-bg.png) bottom center;
  background-size: cover;
  padding-top: 19px;
  padding-bottom: 11px;
}
#showcase-content {
  overflow: hidden;
  position: relative;
  height: 500px;
}
#showcase-content .showcase {
  position: absolute;
  top: 0;
  left: 1030px;
  margin: 35px;
  display: block;
}
#showcase-content .showcase.active {
  display: block;
}
#showcase-content .showcase .platforms {
  float: right;
}
#showcase-content .showcase .platforms h4 {
  font-size: 13px;
  color: #888a85;
  margin-bottom: 3px;
}
#showcase-content .showcase .platforms li {
  color: transparent;
  font-size: 0;
  overflow: hidden;
  text-indent: 50px;
  width: 28px;
  height: 28px;
  background-image: url(/assets/platforms.png);
  float: right;
  margin-left: 8px;
}
#showcase-content .showcase .platforms li.wp {
  background-position: 0 0;
}
#showcase-content .showcase .platforms li.ios {
  background-position: -30px 0px;
}
#showcase-content .showcase .platforms li.android {
  background-position: -60px 0px;
}
#showcase-content .showcase hgroup {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
#showcase-content .showcase hgroup h1 {
  margin-bottom: 0;
}
#showcase-content .showcase hgroup .feature {
  margin-top: -0.4em;
}